---
title: Ryan Scott - About Me
sitemap_priority: 0.7
---

<section role="main">
  <div class="row">
    <h2>About Me</h2>
    <div class="row">
      <div class="large-3 columns">
        <img src="<%= image_path('about-me.jpg') %>" />
      </div>
      <div class="large-9 columns">
        <p>
          I'm a software developer living in Melbourne Australia.
          <br>
          I currently work with Ruby on Rails and JavaScript.
          <br>
          In my spare time I love programming games and being with my girlfriend.
        </p>
      </div>
    </div>
  </div>
</section>
