---
title: Ryan Scott - Home
sitemap_priority: 1.0
---

<section role="main">

  <ul class="home-nav">
    <li class="row post third-post">
      <a class="post-link" href="<%= url_for('/about.html') %>">
        <div class="padded one half glass">
          <h2>About Me</h2>
        </div>
      </a>
    </li>
  </ul>
  
</section>
